.box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.label {
  font-size: 18px;
  text-align: start;
}

.input {
  padding: 15px;
  border: 2px solid #1f0909;
  border-radius: 4px;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 400px;
}
